/* GeSHi (c) Nigel McNie 2004 (http://qbnz.com/highlighter) */
pre.highlight.geshi {border: 1px dotted #a0a0a0; font-family: 'Courier New', Courier, monospace; background-color: #f0f0f0; color: #0000bb;}
pre.highlight.geshi .coMULTI,
pre.highlight.geshi .co1,
pre.highlight.geshi .co2,
pre.highlight.geshi .co3,
pre.highlight.geshi .co4 {color: #808080;}
pre.highlight.geshi .de1,
pre.highlight.geshi .de2 {font-weight:normal;background:transparent;color:#000; padding-left: 5px;}
pre.highlight.geshi .kw1 {color: #a1a100;}
pre.highlight.geshi .kw2 {color: #000; font-weight: bold;}
pre.highlight.geshi .kw3 {color: #000066;}
pre.highlight.geshi .kw4 {color: #f63333;}
pre.highlight.geshi .es0 {color: #000033; font-weight: bold;}
pre.highlight.geshi .br0 {color: #66cc66;}
pre.highlight.geshi .st0 {color: #ff0000;}
pre.highlight.geshi .nu0 {color: #ff33ff;}
pre.highlight.geshi .me0,
pre.highlight.geshi .me1 {color: #006600;}
pre.highlight.geshi .me2 {color: #009900;}
pre.highlight.geshi .re0,
pre.highlight.geshi .re1 {color: #000066;}
